<div class="email-header">
  <%= image_tag("SmartAgent-icon.svg", alt: "logo")%>
  <h1>SmartAgent</h1>
</div>
<div class="email-body">
  <p>
    We have responded to your ticket [<span class="ticket-id">#<%= @ticket.id %></span>].
  </p>
  <p>
    <%= @response %>
    <%= @attachment %>
  </p>
  <p>
    Thank you for your patience.
  </p>
</div>